{% extends 'base.html.twig' %}

{% block title %}All categories{% endblock %}

{% block body %}

    <h1>All categories</h1>

    {% for category in categories %}
        <a href="/blog/category/{{ category.name }}/all">
            {{ category.name }}
        </a>
        <br>
        <br>
    {% endfor %}

    <a href="{{ path('homepage') }}">
        Back to homepage.
    </a>

{% endblock %}