<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {{ encore_entry_link_tags('app') }}
        {% block stylesheets %}
        {% endblock %}
    </head>
    <header>
        {% include 'navbar.html.twig' %}
    </header>
    <div class="main-container">
        {% block body %}
        {% endblock %}
    </div>
        {% include 'footer.html.twig' %}

        {{ encore_entry_script_tags('app') }}
        {% block javascripts %}
        {% endblock %}
</html>
